div{
 background-color: rgb(136, 133, 129);
 color: white;
 padding: 10px;
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 20px;
}
div h3{
 color: crimson;
 text-align: center;
 font-size: 40px;
 font-weight: bold;
}